$colorFrame: #F7DFBC;
$colorGradient1: #FDF3E5;
$colorGradient2: #FFFAF4;

//$colorBg: #FFF5E9;

$colorLight1: #D3A47A;
$colorLight2: #FFF3E5;

$colorDark1: #A8805C;
$colorDark2: #746456;



$colorFrameLight: #F3F7F7;
$colorContrast: #6131A2;
$colorContrast2: #3172A2;