/*Gerillass mixins*/
/*Colors, fonts, z-index, breakpoints...*/
.herogradient {
  background: linear-gradient(300deg, #ffb9d8, #e3a2f8, #9fc5ff, #d6f6ff);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero {
  height: auto;
}
@media (min-width: 768px) {
  .hero {
    height: 85vh;
  }
}

.title .background {
  height: auto;
  aspect-ratio: 14/9;
}
@media (min-width: 768px) {
  .title .background {
    height: 85vh;
  }
}

body {
  font-family: Poppins;
}

h1 {
  font-family: Playfair Display;
  line-height: 0.8;
}

h2 {
  font-family: "playfair display";
  font-size: 80px !important;
  line-height: 0.9;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.chapeau h2 {
  font-family: poppins;
}

h3 {
  font-family: Poppins;
  position: relative;
}

h4 {
  font-family: "Playfair display";
  font-weight: 600 !important;
}

.tags {
  font-family: Roboto Mono;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h5 {
  font-family: Poppins;
}

p {
  font-family: poppins;
}

blockquote {
  font-family: "Playfair Display";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 40px;
  line-height: 1.15;
}
blockquote .auth {
  font-family: Poppins;
  font-size: 18px;
  font-weight: bold;
  color: #D3A47A;
}

.poppins {
  font-family: Poppins;
}

.lettrine:first-letter {
  font-size: 570%;
  font-weight: 600;
  float: left;
  margin-top: 5px;
  line-height: 0.7;
  margin-right: 10px;
}

ul {
  font-family: Poppins;
}

.share {
  font-family: poppins;
}

.chart-title {
  font-family: Roboto mono;
  text-decoration: underline;
  color: black;
}

figcaption {
  font-family: Poppins;
}

.commandements {
  position: relative;
}
.commandements .commandements-nbr {
  font-size: 46px;
  text-align: center;
  border-radius: 100px;
  margin-right: 20px;
  width: 60px;
  height: 60px;
  line-height: 60px !important;
  display: block;
  background: #344766;
  color: white;
  float: left;
}
.commandements .commandements-txt {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

header {
  background: #e2001a;
  border-bottom: 0;
  transition: all 0.2s;
}
header.neg {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
header.neg.headroom--not-top {
  background: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}
header.trans {
  background: transparent;
}
header.headroom--unpinned {
  transform: translateY(-100%);
  transition: all 0.2s;
}

.btn {
  border-radius: 9999px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
}
.btn .icon-share, .btn .icon-cross {
  opacity: 0;
}
.btn .icon-share.is-visible, .btn .icon-cross.is-visible {
  opacity: 1;
}
.btn .share-popup {
  width: calc(100vw - 2rem);
  background-color: white;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
  transform: translateY(-5px);
}
@media (min-width: 768px) {
  .btn .share-popup {
    width: 300px;
  }
}
.btn .share-popup.is-visible {
  opacity: 1;
  transition: all 0.2s;
  visibility: visible;
  transform: translateY(0);
}
.btn .share-popup .triangle {
  content: "";
  height: 0;
  width: 0;
  display: inline-block;
  border-style: solid;
  border-color: transparent transparent white;
  border-width: 0 10px 8px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-7px, -100%);
}

.copied {
  left: 50%;
  bottom: 30px;
  font-family: "Poppins";
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, 5px);
  transition: all 0.2s;
}
.copied.is-visible {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, 0);
  transition: all 0.2s;
}

.aside-l {
  transition: all 0.2s;
}
.aside-l.-translate-x-full {
  transition: all 0.2s;
}
.aside-l ul li {
  border-bottom: 1px solid #eeeeee;
}

.aside-l .aside-header {
  border-bottom: 1px solid #eeeeee;
}
.aside-l .aside-header .btn {
  background: #eeeeee;
}

.aside-r {
  transition: all 0.2s;
}
.aside-r.-translate-x-full {
  transition: all 0.2s;
}
.aside-r ul li {
  border-bottom: 1px solid #eeeeee;
}

.aside-r .aside-header {
  border-bottom: 1px solid #eeeeee;
}
.aside-r .aside-header .btn {
  background: #eeeeee;
}

.hero {
  height: 70vh;
}
@media (min-width: 768px) {
  .hero {
    height: 70vh;
  }
}

#title1 .img-container {
  width: 356px;
  height: 526px;
}

#title2 .img-container {
  width: 367px;
  height: auto;
}

.dot {
  width: 60px;
  height: 60px;
  background: #F7DFBC;
}

.card {
  width: 80px;
  height: 80px;
  background: blue;
}

.video-js {
  background: transparent !important;
}

.video-wrapper video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.player1-dimensions, .player2-dimensions, .player3-dimensions, .player4-dimensions {
  width: 100%;
  height: 100%;
}

.gradient {
  background: radial-gradient(ellipse at center, transparent 0%, black 100%);
  opacity: 0.5;
}

.menu_overlay {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
}
.menu_overlay.is-visible {
  opacity: 0.5;
  visibility: visible;
  transition: all 0.2s;
}

.heading {
  background: #A7A879;
}

.anim {
  background: #FFFBED;
}

footer {
  height: 100vh;
  background: #202124;
}

.frame {
  background: #F7DFBC;
}

.hero figure {
  background: transparent;
}

.parallax {
  aspect-ratio: 16/8;
}

#parallax1 .parallax-bg {
  height: 200%;
  top: -100%;
}

#parallax2 .parallax-bg {
  height: 200%;
  top: -100%;
}

#parallax3 .parallax-bg {
  height: 200%;
  top: -100%;
}

#parallax4 .parallax-bg {
  height: 200%;
  top: -100%;
}

#parallax5 .parallax-bg {
  height: 200%;
  top: -100%;
}

img.miniheader-img {
  height: 250px;
  left: 75%;
  top: 0%;
}
@media (min-width: 768px) {
  img.miniheader-img {
    height: 150%;
    top: 50%;
    left: 75%;
    transform: translateY(-50%);
    max-height: 542px;
  }
}

#title4 .miniheader-img {
  height: 110%;
}
@media (min-width: 768px) {
  #title4 .miniheader-img {
    max-height: 542px;
  }
}

.jBox-wrapper::before {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}
.jBox-wrapper .jBox-container {
  font-size: 16px;
  font-family: Roboto mono;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
  border: 0;
}
.jBox-wrapper .jBox-container .jBox-content {
  background: #F7DFBC;
  color: rgba(0, 0, 0, 0.5);
}
.jBox-wrapper .jBox-container .jBox-closeButton {
  background: #F7DFBC !important;
}
.jBox-wrapper .jBox-container .jBox-closeButton svg path {
  fill: rgba(0, 0, 0, 0.5);
}
.jBox-wrapper .jBox-pointer::after {
  background: #F7DFBC;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0);
}

.tag {
  margin-bottom: 5px;
  line-height: 1;
}
@media (min-width: 768px) {
  .tag {
    margin-bottom: 5px;
    line-height: 1;
  }
}

.tag:hover {
  background: #2c6792;
}

#btn1, #btn2, #btn3, #btn4, #btn-pass {
  cursor: pointer;
  transition: all 0.2s;
}

.color-gradient {
  background: linear-gradient(60deg, #FDF3E5 0%, #FFFAF4 100%);
}

.color {
  background: #FFF3E5;
}

.left-custom-imgcontainer {
  left: 55%;
}

.text-custom-dark1 {
  color: #A8805C;
}

.text-custom-dark2 {
  color: #746456;
}

.bg-custom-dark1 {
  background: #A8805C;
}

.bg-custom-dark2 {
  background: #746456;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
}

body {
  position: relative;
  overflow-x: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  overflow-y: scroll; /* Enable vertical scrolling */
}
body.is-visible {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s;
}

.wrapper {
  overflow-x: hidden;
}

.container {
  margin: auto;
}

.is-blurry {
  filter: blur(8px);
}

.mobile-hidden {
  display: none;
}
@media (min-width: 768px) {
  .mobile-hidden {
    display: block;
  }
}

.desktop-hidden {
  display: block;
}
@media (min-width: 768px) {
  .desktop-hidden {
    display: none;
  }
}

.text-custom-h2 {
  font-size: 1.4rem;
  line-height: 1.65rem;
}
@media (min-width: 768px) {
  .text-custom-h2 {
    font-size: 2.5rem;
    line-height: 2.81rem;
  }
}

.text-custom-h3 {
  font-size: 2.125rem;
}

.text-custom-h4 {
  font-size: 1.2rem;
  line-height: 1.3;
}
@media (min-width: 768px) {
  .text-custom-h4 {
    font-size: 1.625rem;
  }
}

.bg-custom-tag {
  background: #3172A2;
}

.text-custom-tag {
  color: #b4e0df;
}

.text-custom-color {
  color: #3172A2;
}

.w-custom-logo {
  width: 5rem;
}
@media (min-width: 768px) {
  .w-custom-logo {
    width: 3.75rem;
  }
}

.h-custom-title {
  height: 27rem;
}

#opening-graph-line {
  stroke-dasharray: 340;
  stroke-dashoffset: 340;
}
#opening-graph-line.is-drawn {
  stroke-dasharray: 340;
  stroke-dashoffset: 170;
  animation: dash 1.5s linear forwards;
  opacity: 1 !important;
}

@keyframes dash {
  from {
    stroke-dashoffset: 340;
  }
  to {
    stroke-dashoffset: 170;
  }
}

/*# sourceMappingURL=main.css.map */
